{% extends 'main.html' %}

{% block main_block %}
    <h5>{{ category.name }}</h5>
    <p>{{ category.description }}</p>
    <div class="row">
    {% for goods_elem in goods %}
        <div class="col s12 m4 l3">
            <div class="card small">
                <div class="card-image">
                    <img class="responsive-img" src="{{ goods_elem.images.all.0.image.url }}" alt="">
                </div>
                <div class="card-title">
                    <a href="/marketplace/goods/{{ goods_elem.id }}{% if request.GET.requests %}?requests={{ request.GET.requests }}{% endif %}">
                        {{ goods_elem.name }}
                    </a>
                </div>
                <div class="card-content">
                    {{ goods_elem.description }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}