{% extends 'main.html' %}
{% load static %}
{% block main_block %}
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">AgroHack Demo</h1>
        <div class="row center">
          <h5 class="header col s12 white-text">Платформа для сельскохозяйственных закупок</h5>
        </div>
        <div class="row center">
          <a href="/auth/register/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Регистрация</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static "images/background1.jpg" %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Закупщик</h5>

            <p class="light">Товары приходят несвежие? Посредники завышают цены? Найдите подходящих производителей через нашу платформу!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Поставщик</h5>

            <p class="light">Вы ищите добросовестного заказчика? Вам сложно разбираться с юридическими документами? Наша платформа поможет вам найти заказчика и упростит жизнь с помощью электронного документооборота.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Перевозчик</h5>

            <p class="light">Ищите заказы на перевозку сельхоз продукции через нашу платформу! Сотни производителей и закупщиков заключают договора через нашу платформу.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Найти фермерские продукты проще, чем вы думаете!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "images/background2.jpg" %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Регистрируйтесь прямо сейчас</h4>
          <div class="row center">
            <a href="/auth/register/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Регистрация</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "images/background3.jpg" %}" alt="Unsplashed background img 3"></div>
  </div>
{% endblock %}