{% extends 'main.html' %}

{% block main_block %}
    <div class="row" style="padding-top: 20px;">
    <div class="col m6 offset-m3 s12">
        {% if is_error %}
            <div class="card red darken-2" role="alert">
            <div class="card-content white-text">
                Неправильное имя пользователя или пароль!
            </div>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col s12 l8">
                    <input name="username" id="username" type="text" class="validate">
                    <label for="username">Логин</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l8">
                    <input name="password" id="password" type="password" class="validate">
                    <label for="password">Пароль</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l8">
                    <button type="submit" class="btn waves-effect waves-light">Войти</button>
                    <a href="/auth/register/" class="btn waves-effect waves-light">Зарегистрироваться</a>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}