{% extends 'main.html' %}

{% block main_block %}
    <div class="row">
        <div class="col s12">
            <h5>{{ goods_elem.name }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="carousel carousel-slider">
            {% for image in goods_elem.images.all %}
                <a class="carousel-item" href="#"><img class="responsive-img" src="{{ image.image.url }}"></a>
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="card small">
                <div class="card-content">
                    <table>
                        <thead>
                            <th></th>
                            <th>Цена (руб)</th>
                        </thead>
                        <tbody>
                            {% if request.GET.requests == 0 %}
                                <tr>
                                    <td>Максимальная</td>
                                    <td>{{ goods_elem.price }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Мелкий опт</td>
                                    <td>{{ goods_elem.price_s }}</td>
                                </tr>
                                <tr>
                                    <td>Средний опт</td>
                                    <td>{{ goods_elem.price_m }}</td>
                                </tr>
                                <tr>
                                    <td>Крупный опт</td>
                                    <td>{{ goods_elem.price_l }}</td>
                                </tr>
                                <tr>
                                    <td>Розница</td>
                                    <td>{{ goods_elem.price_r }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m9">
            {{ goods_elem.description }}
        </div>
    </div>
{% endblock %}